In [23]:
import pandas as pd
import numpy as np

# Loading the files to Jupiter notebook
Schools = "schools_complete.csv"
Students = "students_complete.csv"

# Reading students, and school files
District_School = pd.read_csv(Schools)
District_Students = pd.read_csv(Students)

# Merging all data into one file
District_complete = pd.merge(District_School, District_Students, how ="left", on = ["school_name" , "school_name"])
District_complete.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [51]:
Total_schools = len(District_complete["school_name"].unique())
#print(Total_schools)
Total_students = len(District_complete["student_name"])
#print(Total_students)
Total_Budget = round(District_complete["budget"].unique().sum()/1000000,2)
#print(Total_Budget)
Average_MathScore = round(District_complete["math_score"].mean(),2)
#print(Average_MathScore)
Average_ReadingScore = round(District_complete["reading_score"].mean(),2)
#print(Average_ReadingScore)
Passing_math = round((((District_complete["math_score"] >= 70).sum())/len(District_complete["math_score"]))*100,2)
#print(Passing_math)
Passing_reading = round((((District_complete["reading_score"] >= 70).sum())/len(District_complete["reading_score"]))*100,2)
#print(Passing_reading)
Overall_Passrate = round((Passing_math + Passing_reading)/2,2)
#print(Overall_Passrate)

In [57]:
Dissummary_df = pd.DataFrame({"Total Schools": [Total_schools],
                              "Total Students": [Total_students],
                              "Total Budget $": str(Total_Budget)+ "millions",
                              "Average Math Score": [Average_MathScore],
                              "Average Reading Score": [Average_ReadingScore],
                              "% Passing Math": str(Passing_math)+ "%",
                              "% Passing Reading": str(Passing_reading) + "%",
                              "Overall Passing Rate": str(Overall_Passrate)+ "%"})
Dissummary_df

,Total Schools,Total Students,Total Budget $,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24.65millions,78.99,81.88,74.98%,85.81%,80.4%

In [3]:
School_names = (District_complete["school_name"].unique(), delimiter = ",")
print(School_names)

SyntaxError: invalid syntax (<ipython-input-3-f7da9efb436a>, line 1)

In [58]:
Schsummary_df = pd.DataFrame({"School Name": [District_complete["school_name"].unique()],
                              "Total Students": [Total_students],
                              "Total Budget $": str(Total_Budget)+ "millions",
                              "Average Math Score": [Average_MathScore],
                              "Average Reading Score": [Average_ReadingScore],
                              "% Passing Math": str(Passing_math)+ "%",
                              "% Passing Reading": str(Passing_reading) + "%",
                              "Overall Passing Rate": str(Overall_Passrate)+ "%"})
Dissummary_df

TypeError: 'builtin_function_or_method' object is not subscriptable